        body
        {background-color:rgb(27, 26, 26);
         background-repeat: no-repeat;
         background-size: cover; 


        }
        #menu{
            margin: 10px;
            padding: 100px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
            font-size: x-large;
            width: 150%;
            margin: 20px auto 60px auto;
            background-color:transparent;
            position: sticky;
            top: 300px;
            text-align: center;
        }
        
        nav ul{
            list-style-type: none;
        }
        
        nav li{
            float: left;
            width: 10%;/*100% divisé par le nombre d'éléments de menu*/
            text-align: center;/*Centre le texte dans les éléments de menu*/
        }
        
        /*Evite que le menu n'ait une hauteur nulle*/
        nav ul::after{
            content: "";
            display: table;
            clear: both;
        }
        
        nav a{
            display: block; /*Toute la surface sera cliquable*/
            text-decoration: none;
            color: #AE3468;
            border-bottom: 20px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
            padding: 25px 100px;/*Agrandit le menu et espace la bordure du texte*/
        }
        
        nav a:hover{
            color: #AE3468;
            border-bottom: 2px solid #b9dfb0;/*couleur souligner menu*/
            
            
            }
        
        .conteneur{
          margin: 0px 20px;
          height: 1500px;
          position: relative;



          
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:800px;

         }
         

        
        
        
      
